[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
zk_escrow = "AiebTbnydag8QCPFhapiuPzd5hy8MvKNXeVVYR2dZ94Z"

[programs.localnet]
zk_escrow = "AiebTbnydag8QCPFhapiuPzd5hy8MvKNXeVVYR2dZ94Z"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[workspace]
members = ["programs/*"]

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
